@import "./src/assets/styles/variables";

.header {
    background: $headerBackgroundColor;
    min-height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;

    .header-title {
        font-size: 20px;
        color: $activeColor;
    }
}

.sub-header {
    min-height: 45px;

    .header-title {
        font-size: 18px; 
    }
}

