<div class="header">
    <h3 class="header-title">{{ owner }} / {{ repo }}</h3>
</div>
<div class="issues-container">
  <div class="header sub-header">
      <h3 class="header-title cursor-pointer" [routerLink]="['list']">Issues</h3>
  </div>
  <router-outlet></router-outlet>
</div>
