@import "./src/assets/styles/variables";

.comments-container {
    background: $backgroundGrey;

    .comments-list {

        background: #fff;

        .comment-item {

            border: 1px solid $lightGrey;
            padding: 9px 12px;

            .header-info {
                display: grid;
                grid-template-columns: 30px 1fr;
                grid-gap: 10px;
        
                .avatar {
                    img {
                        width: 30px;
                    }
                } 
        
                .header-stats {
                    
                    .stats-user {
                        font-size: 15px;
                        color: $darkGrey;
                    }
        
                    .stats-info  {
                        color: $grey;
                        font-size: 13px;
                    }
                }
            }
        }
    }
}