<div class="comments-container">
  <div class="comments-list">
    <div class="comment-item" *ngFor="let comment of comments">
      <div class="header-info padding-bottom separator">
        <div class="avatar">
          <img src="{{ comment.user.avatar_url }}" alt="{{ comment.user.login }}">
        </div>
        <div class="header-stats">
          <div class="stats-user">
            {{ comment.user.login }}
          </div>
          <div class="stats-info">
            commented <span *ngIf="(comment.created_at | getAge) !== 'today'">about</span> {{ comment.created_at | getAge }}
          </div>
        </div>
      </div>
      <div class="comment-body" [innerHTML]="comment.body">
      </div>
    </div>
  </div>
</div>