<div class="issues-list-container">
  <ng-container *ngIf="!issuesLoading else loading">
    <ng-container *ngIf="issues && issues.length else noIssues">
      <div class="issue-list">
        <div class="issue-item cursor-pointer" *ngFor="let issue of issues" [routerLink]="['/issues/details', issue.number]">
          <div class="issue-title">{{ issue.title }}</div>
          <div class="issue-number">#{{ issue.number }}</div>
          <div class="issue-details" *ngIf="issue.state === 'open'">
            Opened by {{ issue.user.login }} {{ issue.created_at | getAge}}
          </div>
          <div class="issue-details" *ngIf="issue.state === 'closed'">
            Closed by {{ issue.user.login }} {{ issue.created_at | getAge}}
            <!-- Could not find who closed the issue in the returend object so using the same user instead -->
          </div>
        </div>
      </div>
      <div class="pagination">
        <button class="previous cursor-pointer" (click)="getIssuesForPage(page-1)" [disabled]="page <= 1">
          Previous
        </button>
        <div class="current">
          {{ page }}
        </div>
        <button class="next cursor-pointer" (click)="getIssuesForPage(page+1)">
          Next
        </button>
      </div>
    </ng-container>
  </ng-container>
</div>

<ng-template #loading>
Loading...
</ng-template>

<ng-template #noIssues>
  Oops, there were no issues to show!
</ng-template>