@import "./src/assets/styles/variables";

.issue-list {

    padding: 5px 15px;

    .issue-item {
        display: grid;
        grid-template-columns: 80% 20%;
        grid-template-rows: auto 20px;
        padding: 10px 0;
        border-bottom: 1px solid $lightGrey;

        .issue-title {
            color: $blue;
        }
    
        .issue-number {
            color: $grey;
            font-size: 14px;
            text-align: right;
        }

        .issue-details {
            color: $grey;
        }
    }
}

.pagination {
    display: grid;
    min-height: 40px;
    grid-template-columns: repeat(3, 1fr);

    .current {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 700px) {

    .issues-list-container {
        max-width: 900px;
        margin: 0 auto;

        .issue-list {
            border: 1px solid $lightGrey;
        }
    }

    
}