/* You can add global styles to this file, and also import other style files */
@import "./src/assets/styles/variables";

.margin-bottom {
    margin-bottom: 10px;
}

.padding-bottom {
    padding-bottom: 10px;
}

.separator {
    border-bottom: 1px solid $lightGrey;
}


.cursor-pointer {
    cursor: pointer;
}