<div class="issue-details-container">
  <ng-container *ngIf="!issueLoading else loading">
    <ng-container *ngIf="issue else noIssue">
      <div class="issue-content">
        <div class="title margin-bottom">
          <b>{{ issue.title }}</b>
          <span>#{{ issue.number }}</span>
        </div>
        <div class="issue-info padding-bottom separator">
          <div class="avatar">
            <img src="{{ issue.user.avatar_url }}" class="avatar" alt="">
          </div>
          <div class="issue-stats">
            <span class="stats-user">{{ issue.user.login }}</span>
            <span class="stats-info">opened this issue {{ issue.created_at | getAge }}</span>
          </div>
        </div>
        <div class="body" [innerHTML]="markdownBody">
        </div>
      </div>
      <hr>
      <ng-container *ngIf="!commentsLoading else loading">
        <ng-container *ngIf="comments && comments.length">
          <app-comments [comments]="comments">
          </app-comments>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</div>

<ng-template #loading>
  Loading...
</ng-template>

<ng-template #noIssue>
  Oops, unable to load the issue
</ng-template>