@import "./src/assets/styles/variables";

.issue-details-container {
    padding: 5px 15px;

    .title {
        color: $black;
        font-size: 18px;

        span {
            color: $grey;
        }
    }

    .issue-info {
        display: grid;
        grid-template-columns: 30px 1fr;
        grid-gap: 10px;

        .avatar {
            width: 30px;
        } 

        .issue-stats {
            
            .stats-user {
                font-size: 15px;
                color: $darkGrey;
            }

            .stats-info  {
                color: $grey;
                font-size: 13px;
            }
        }
    }
}

@media (min-width: 700px) {

    .issue-details-container {
        max-width: 900px;
        margin: 0 auto;
        border: 1px solid $lightGrey;
    }
}